*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

li {
  list-style: none; }

* {
  font-size: 2rem; }

h1 {
  font-size: 10rem;
  font-weight: 100;
  color: #3c3a3a; }

h2 {
  font-size: 4rem;
  font-weight: 100; }

h3 {
  font-size: 3rem;
  font-weight: 200; }
  
.titulo-footer {
	color: rgb(248, 248, 248); }

.text-footer {
	color: rgb(20, 20, 20); }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

header {
  padding: 9% 6%;
  background-color: rgba(140, 140, 140, .2); }
  
.headerpages{
	padding: 0%; }

.navbar a {
  font-size: 2.5rem; }

.navbar input, .btn {
  font-size: 1.5rem; }

.article-main {
  margin: 0 0 1rem auto;
  border: solid red 1px;
  width: 90%; }
  .article-main .thumbnail {
    width: 100%; }
  .article-main p {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0; }
  .article-main h1 {
    font-size: 3rem;
    font-weight: 100; }
  .article-main a {
    font-size: 1.5rem; }
  .article-main .category {
    font-size: 1.3rem; }
  .article-main .autor-date {
    font-size: 1.3rem; }

.navemail {
  z-index: 1;
  transform: translate(0, -50%);
  margin: auto;
  width: 70%;
  padding: 3rem;
  text-align: center;
  background-color: #f2f4e9; }
  .navemail .capture-email-button {
    font-size: 2rem; }
  .navemail .capture-email-field {
    width: 60%;
    font-size: 2rem; }
  .navemail h3 {
    text-align: left;
    margin-bottom: 1rem; }

.sidebar img {
  width: 100%; }

.sidebar section {
  border: solid green 1px;
  margin-bottom: 1rem; }

.pages-group {
  width: 90%;
  margin: 1rem 0 1rem auto;
  text-align: center; }
  .pages-group a {
    color: #212529;
    text-decoration: none;
    padding: 0.75rem 2rem; }
    .pages-group a:hover {
      color: #212529;
      text-decoration: none; }

.social {
  background-color: #c1c1bc;
  float: left;
  left: 0;
  padding: 1rem;
  text-align: center; }
  .social .no-margin-padding {
    margin: 0;
    padding: 0; }
  .social i {
    font-size: 3rem;
    color: #212529; }

.social-absolute {
  position: absolute; }

.social-fixed {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%); }

.page-footer {
	background-color: rgb(0, 0, 0);
}

.glass {
	background-color: rgba(250, 250, 250, 0.4);
}

.container-fluid {
	padding-top: 2%; }

hr {
	color: rgba(220, 220, 220, 0.3);
}