.social{
  background-color: $color-primary;
  float: left;
  left: 0;
  padding: 1rem;
  text-align: center;
  & .no-margin-padding{
    margin: 0;
    padding: 0;
  }
  & i{
    font-size: 3rem;
    color: $color-text-black-1;
  }

}


.social-absolute{
  position: absolute;
}
.social-fixed{
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0,-50%);
}